*.DS_Store
log
log/**/*
tmp/**/*
bin/*
.bundle/
config/app_config.yml
config/database.yml
config/database.prod*.yml
config/nginx.conf
config/nginx.prod*.conf
config/nginx.local.conf
config/deploy.rb
config/deploy/onecoin*
public/uploads
public/admin/uploads
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.idea
*.*~
