*.DS_Store
log
log/**/*
tmp/**/*
bin/*
.bundle/
config/app_config.yml
config/database.yml
config/nginx.conf
config/database/*
config/nginx/*
config/squid/*
config/deploy.rb
config/deploy/aws-*.*
config/deploy/ali-*.*
public/uploads
public/admin/uploads
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.idea
*.*~
