<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:attachments, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:attachments, :edit, :id => @attachment.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :attachment, url(:attachments, :update, :id => @attachment.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'attachments/form', :locals => { :f => f } %>
  <% end %>
</div>
