<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Onecoin.Im-维卡币操盘手</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <base href="/" />
  <meta name="website-onecoin-im/config/environment" content="%7B%22modulePrefix%22%3A%22website-onecoin-im%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22defaultLocale%22%3A%22zh%22%2C%22name%22%3A%22website-onecoin-im%22%2C%22version%22%3A%220.0.1.7249a797%22%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

  <link rel="stylesheet" href="assets/vendor-7a6f854bb73d3ea35057994ecd4410a4.css">
  <link rel="stylesheet" href="assets/website-onecoin-im-97689e7071a6049bfe0ce58d44c1bbac.css">


</head>
<body>


<script src="assets/vendor-d85e21132969aac1c469d1bcf6cdb4ce.js"></script>
<script src="assets/website-onecoin-im-3bc90510670a453f6a9bfd78ab5a6846.js"></script>


</body>
</html>
